* {
    color: #c7d5e0;
    font-family: "Motiva Sans", Sans-serif;
    letter-spacing: 0.03em;
}
header {
    background-color: #171D25;
}
body {
    background-color: #192A3D;
    margin-bottom: 60px;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}
.tableIndex{
    border-color: transparent;
}
tr:nth-child(even) {
    background-color: #18283a;
}

#moreGames{
    text-align: center;
    font-size: large;
    margin-top: 20px;
}
.inputAdd, option {
    background-color: #223A4C;
    color: whitesmoke;
}
.selectAdd {
    background-color: #223A4C;
    color: whitesmoke;
    border: none;
    outline: none;
    width: auto;
    display: inline-block;
}
.inputAdd:focus, .form-control:focus {
    background-color: #223A4C;
    color: whitesmoke;
    border: none;
    outline: none;
}

input[type=number] {
    -moz-appearance: textfield;
}
input[name=searchTerm]{
    padding: 8px 10px 8px 12px;
    margin: 0px 5px;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.buttonOk {
    background-color: #286BD5;
    color:whitesmoke;
    width: 42%;
}
.buttonNo {
    background-color: #32363F;
    color: whitesmoke;
    width: 42%;
    float: right;
}
.buttonSearch {
    background-color: #213A4C;
    color: #64C1EA;
    width: 42%;
    
}
.filtr {
    border: 2px #323E4C solid;
    margin: 10px;
}
.w-95{
    width: 95%;
}
.filtr-text {
    background-color: #323E4C;
}
.float-right{
    float: right;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

