* {
    color: #c7d5e0;
    font-family: "Motiva Sans", Sans-serif;
    letter-spacing: 0.03em;
}
header {
    background-color: #171D25;
}
body {
    background-color: #192A3D;
    margin-bottom: 60px;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}
.tableIndex{
    border-color: transparent;
}
tr:nth-child(even) {
    background-color: #18283a;
}

#moreGames{
    text-align: center;
    font-size: large;
    margin-top: 20px;
}
.inputAdd {
    background-color: #223A4C;
    color: whitesmoke;
}
.inputAdd:focus, .form-control:focus {
    background-color: #223A4C;
    color: whitesmoke;
    border: none;
    outline: none;
}

.buttonOk {
    background-color: #286BD5;
    color:whitesmoke;
}
.buttonNo {
    background-color: #32363F;
    color: whitesmoke;
}
.filtr {
    border: 2px #323E4C solid;
    margin: 10px;
}
.w-95{
    width: 95%;
}
.filtr-text {
    background-color: #323E4C;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

